.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0;
}

.banner h2,
.banner p {
  color: #f2d7ba;
  text-align: left;
  padding: 0px 0px 0px 70px;
  text-shadow: 0 0 2px black;
}

.banner p {
  font-weight: bold;
}
